/* ----------- iPhone 4 ----------- */

@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 480px) {
    h1 {
      font-size: 16pt;
    }

    h2, h3 {
      font-size: 14pt
    }

    p {
      font-size: 11pt
    }
    .download-icons > img {
      height: 30pt;
    }
    .download-icons > img {
      height: 30pt;
    }
}

/* ----------- iPhone 5 ----------- */

@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 568px) {
    h1 {
      font-size: 16pt;
    }

    h2, h3 {
      font-size: 14pt
    }

    p {
      font-size: 11pt
    }

    .download-icons > img {
      height: 30pt;
    }
}

/* ----------- iPhone 6 ----------- */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    h1 {
      font-size: 18pt;
    }

    h2, h3 {
      font-size: 16pt
    }

    p {
      font-size: 14pt
    }

    .download-icons > img {
      height: 40pt;
    }
}

/*@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    
    body {
      font-size: 20pt;
      margin: 20pt;
    }
    
    h1, h2, h3 {
      letter-spacing: 2pt;
      line-height: 60pt;
    }

    h1 {
      font-size: 50pt;
    }

    h2 {
      font-size: 42pt;
      margin-top: 40pt
    }

    h3 {
      font-size: 42pt;
      margin-bottom: 60pt
    }

    p {
      font-size: 40pt;
      line-height: 48pt;
      margin: 30pt 20pt 40pt;
      letter-spacing: 1pt
    }

    header > img {
      height: 50pt;
    }

    header > h1 {
      display: inline-block;
      position: relative;
      top: -7pt;
      padding-left: 10pt
    }

    footer {
      text-align: center;
      margin-bottom: 50pt;
      vertical-align: middle
    }

    footer img {
      height: 70pt
    }

    .download-icons > img {
      height: 90pt;
      margin: 20pt 20pt 70pt;
      cursor: pointer;
    }

    .iphone-img > img {
      width: 650pt;
    }

    .title-point {
      margin: 80pt 0pt 40pt
    }

}*/

/* ----------- Non-Retina Screens ----------- */

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    body {
      max-width: 700px;
      margin: auto
    }
    header {
      margin: 10pt
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    body {
      max-width: 700px;
      margin: auto
    }
    header {
      margin: 10pt
    }
}